{% extends 'accounts/main.html' %}
{% block content %}
{% load static %}
<br>
<div class="row">
  <div class="col-md-6">
    <div class="card card-body">

        <p>are sure do you want to delete {{item}}?</p>

        <form class="" action="{% url 'deleteOrder' item.id %}" method="POST">
          {% csrf_token %}
            <a class="btn btn-warning" href="{% url 'home'%}">cancel</a>
            <input class="btn btn-danger"type="submit" name="" value="Confirm">
        </form>
    </div>
  </div>
</div>
{% endblock %}
